
h1 {text-align: center;}
        nav {
            text-align: center;
            border: 1px outset rgb(0, 0, 0);
            background-color: rgb(0, 0, 0);
        }
.about-img{text-align: center;
           background: #827070;
           border: 4px outset black

}       


.socials-content{
                  text-align:left;
                  height: fit-content;
                  width:fit-content;
                  border: 2px outset black
}

.contact-content{
                 text-align: center;
                 background-color:azure;
                 height: auto;
                 width: auto;
                 border: 5px outset black
   
}

.completion{
           text-align: right;
}

.activities-content{
    text-align:left;
                  height: fit-content;
                  width:fit-content;
                  border: 2px outset black
}

.progress-bar{
   accent-color: rgb(68, 6, 6);
}